<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="box">
    <h1>Todo List</h1>


    <div class="tasks">
     
      
      <!--% for (var i = 0; i < ejes.length; i++) { %>-->
      <%ejes.forEach(function(Items,i){%>
        <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox1" value="<%=Items._id%>" onchange="this.form.submit()">
          <p><%= ejes[i].name %></p>
        </div></form>
      <% }); %>  
    <form action="/" method="post">
      <input type="text" name="ele1" placeholder="Enter new task" required>
      <button type="submit">+</button>
    </form>
  </div>
</body>
</html>